@charset "utf-8";
// 引入字体文件
@font-face {
  font-family: yofont;
  src: url("/decoration/source/fonts/iconfont.woff") format("woff"), url("/decoration/source/fonts/iconfont.ttf") format("truetype");
}


.index{
	width:100%;
	height:100%;
	@include flexbox(flex);
	@include flex-direction(column);
	.index-header{
		height:0.44rem;
		color:#8bc34a;
		width:100% !important;
		background:#fff;
		font-size:0.28rem;
		@include flexbox(flex);
		@include justify-content(space-between);
		@include box-sizing(border-box);
		@include border($border-width: 0 0 2px 0, $border-color: #ccc);
		.user{
			width:0.4rem;
			@include flexbox(flex);
			@include justify-content(flex-end);
			@include align-items(center);
		}
		.title{
			font-size:0.18rem;
			color:#333;
			line-height:0.44rem;
		}
		.search{
			width:0.4rem;
			@include flexbox(flex);
			@include justify-content(flex-start);
			@include align-items(center);
		}
	}
	.index-body{
		width:100% !important;
		@include flex(1);
	}
	.index-nav{
		width:100%;
		height:0.52rem;
		@include box-sizing(border-box);
		@include border($border-width: 1px 0 0 0, $border-color: #A7A5A5);
		background:#fff;
		opacity:0.8;
		ul{
			@include flexbox(flex);
			li{
				@include flex(1);
				color:#767676;
				@include box-sizing(border-box);
				@include flexbox(flex);
				@include flex-direction(column);
				@include align-items(center);
				i{
					font-size:0.26rem;
				}
				b{
					font-size:0.14rem;
					position: relative;
					top:-0.06rem;
				}
				&.nav_act{
					color:#8bc34a;
				}
			}
		}
	}
}